[from-kamailio]
exten => __ASTERISK_NUMBER__,1,Answer(1000)
 same => n,Playback(custom/hello&custom/fones&custom/dialext)

exten => 1,1,NoOp(Group 1 call)
 same => n,Set(GROUP=1)
 same => n,Gosub(group-call,s,1)

exten => i,1,Playback(custom/ext)
 same => n,Playback(custom/goodbye)
 same => n,Hangup()

exten => t,1,Playback(custom/goodbye)
 same => n,Hangup()

[group-call]
exten => s,1,NoOp(Starting group call for group ${GROUP})
 same => n,Page(PJSIP/7477@sip.friendsofthemoon.space&PJSIP/78779@sip.friendsofthemoon.space,d,5000 )
 same => n,Hangup()

[outbound]
exten => _X.,1,Dial(PJSIP/${EXTEN}@__SIP_DOMAIN__,30)