[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
external_media_address=__ASTERISK_PUBLIC_IP__
external_signaling_address=__ASTERISK_PUBLIC_IP__
local_net=172.16.11.0/24

[kamailio]
type=registration
transport=transport-udp
outbound_auth=kamailio_auth
server_uri=sip:__SIP_DOMAIN__:__KAMAILIO_SIP_PORT__
client_uri=sip:__ASTERISK_NUMBER__@__SIP_DOMAIN__:__KAMAILIO_SIP_PORT__
contact_user=__ASTERISK_NUMBER__
retry_interval=60

[kamailio_auth]
type=auth
auth_type=userpass
username=__ASTERISK_NUMBER__
password=__ASTERISK_SECRET__

[kamailio_endpoint]
type=endpoint
transport=transport-udp
context=from-kamailio
disallow=all
allow=ulaw
allow=alaw
allow=g722
allow=slin
outbound_auth=kamailio_auth
aors=kamailio_aor
from_user=__ASTERISK_NUMBER__
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[kamailio_aor]
type=aor
contact=sip:__SIP_DOMAIN__:__KAMAILIO_SIP_PORT__

[kamailio_identify]
type=identify
endpoint=kamailio_endpoint
match=kamailio
